
/.venv
/build
/src/flet_data_table_2.egg-info
/examples/flet_datatable2_example/build/
/examples/flet_datatable2_example/src/__pycache__
/examples/flet_datatable2_example/src/flet_datatable2_example.egg-info
/examples/flet_data_table_example/build
/site
/src/flet_datatable2.egg-info
.DS_Store
uv.lock
